@import 'layout/header.scss';
@import 'layout/footer.scss';
@import 'layout/formulaire.scss';

$inline: inline-block;
$margin: 0 auto;

@mixin border_box(){
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	@include border_box();
	margin: $margin;

	.container {
		margin: $margin;
		width: 70%;

		.categories {
			div {
				display: $inline;
				margin: 1%;
			}
		}
	}
}