footer {
	border-top: solid black 1px;
	display: flex;
	padding: 2%;

	div {
		display: inline-block;
		margin: 0 auto;
		max-width: 25%;

		select {
			display: block;
			height: 3em;
			width: 10em;
			margin: 1em;
			color: blue;
			background-color: transparent;
			font-size: 0.9em;
			padding: 3%;
		}

		ul {
			width: 100%;
		}

		li {
			list-style: none;
		}

		a {
			text-decoration: none;
			color: black;
		}
	}

	.footer2 {
		margin-left: 40%;
	}
}