$inline: inline-block;
$white-color: #fffafa;
$size: 2em;

header {
	height: 35em;
	width: 100%;
	background-color: black;
	background-attachment: fixed;
	background-size: 95em 35em;
	
	.menu {
		position: absolute;
		right: 0;

		li {
			display: $inline;
			list-style: none;
			margin-top: 1em;
			margin-right: 2em;
		}

		a {
			text-decoration: none;
			color: $white-color;
		}
	}

	.menu2 {
		display: none;
	}

	@media screen and (max-width: 800px){
		.menu {
			display: none;
		}

		.menu2 {
			display: block;
		}
	}
	
	.title {
		position: absolute;
		margin-top: 5%;
		margin-left: 20%;
		width: 40%;
		padding: 1%;
		font-size: $size;
		color: 	$white-color;

		button {
			display: block;
			margin-top: 5%;
			padding: 2% 5% 2% 5%;
			border-radius: 2em;
			background: transparent;
			font-size: 0.5em;
			border: solid $white-color;
			color: $white-color;
		}
	}
}